body {
	background-color: #c4bdb8;
	width: 801px;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

#menu {
	background-color: #663366;
	height: 60px;
	width: 801px;
	color: white;
	margin: 0;
	padding: 0;
}

#menu .first {
	margin-left: 23px;
}

#menu .item {
	display: inline-block;
	font-size: 14px;
	margin-top: 19px;

}
#logo {
	background-image: url(/images/logo.png);
	height: 252px;
	width: 378px;
	display: inline-block;
	margin-bottom: 15px;
}

#hours {
	background-image: url(/images/hours.png);
	height: 62px;
	width: 350px;
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 85px;

}

.menu-item {
	display: inline-block;
	margin-top: 15px;
	position: relative;
	left: 20px;
	
}

#facebook {
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}

#content-wrapper {
	background-color: white;
	width: 801px;
	float: right;
}

#content {
	padding: 30px 30px 30px 30px;
}

#rotate {
	width: 801px;
	height: 528px;
	clear: both;
	background-image: url(/images/animatedfile.gif);
}

#footer-wrapper {
	width: 801px;
	background-color: white;
}
#footer {

	padding-top: 25px;
	padding-bottom: 25px;
	height: 52px;
	width: 585px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/images/newest_shopping_destination.png);
	background-repeat: no-repeat;
	background-position: 0 25px;
}

#contact-wrapper {
	width: 801px;
}

#phone {
	margin-top: 10px;
	display: inline-block;
	width: 200px;
	float: left;
}

#address {
	margin-top: 10px;
	float: right;
}

a:link img {
	text-decoration: none;
	border: none;
}


* {
	margin: 0; 
	padding: 0; 
}

a {
	text-decoration: none; 
}

ul {
	list-style: none; 
}


/* 
	LEVEL ONE
*/
ul.dropdown { 
	position: relative;
}

ul.dropdown li { 

	float: left; 
	zoom: 1; 

}

ul.dropdown a:hover	{ 
	color: #000; 
}

ul.dropdown a:active { 
	color: #c4bdb8; 
}

ul.dropdown li a { 
	display: block; 
	padding: 4px 8px;
	border-right: 1px solid #333;
	color: #c4bdb8; 
}


ul.dropdown li:last-child a { 
	border-right: none; 
} /* Doesn't work in IE */


ul.dropdown li.hover,
ul.dropdown li:hover { 
	background: #c4bdb8; 
	color: black; 
	position: relative; 
}

ul.dropdown li.hover a { 
	color: black; 
}


/* 
	LEVEL TWO
*/
ul.dropdown ul { 
	width: 220px; 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
	-moz-box-shadow: 1px 1px 5px #000000;
	-webkit-box-shadow: 1px 1px 5px #000000;
	box-shadow: 1px 1px 5px #000000;
}

ul.dropdown ul li { 
	font-weight: normal; 
	background: #f6f6f6; 
	color: #000; 
	border-bottom: 1px solid #ccc; 
	float: none; 
}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a { 
	border-right: none; 
	width: 100%; 
	display: inline-block; 
} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul { 
	left: 100%; 
	top: 0; 
}

ul.dropdown li:hover > ul {
	visibility: visible; 
}